<head>
    <link href="/src/app/instructions/instructions.component.css">
</head>
  


<body>

    <header id="main-header">
        <div class="container">
          <h1 id="hist-page-title">
             <a class="link" href="https://home.cern/">
              <span style="color: white;">CERN</span> <span style="color: rgb(146, 146, 146);">  Accelerating Science</span> 
            </a>
          </h1>
        </div>
      </header>
    
      <nav id="navbar">
        <div class="container">
          <ul>
            <li><a href="">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>


      <h1>Contact Page Coming Soon
      </h1>