

  body{
    background-color:white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}



#main-header{
    background-color: rgb(31, 31, 31);
    margin-bottom: -10px;
}

#hist-page-title{
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 70px;
}


.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    background: #434343;
	letter-spacing: 0.1px;
	transition: all 0.4s ease 0s;
}

.container{
    margin: auto;
    overflow: hidden;
    position: relative;
}

#navbar{
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}

#navbar ul{
    padding: 0;
    list-style: none;
    margin-left: 73px;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;
}
