
<head>
    <link href="/src/app/femto-large-scale-analysis/histogram-divided/histogram-divided.component.css">
  </head>

<body>

    <div id="all">

        <div id="sc-and-corr">
            
            <div class="container" id="hd"  [style.display]="showDiv? 'block' : 'none'">
                <figure id="hist-div" ></figure>
        
                <div class="params" *ngIf = "showParams">
                  <!--  <h3>Chi-Squared = {{chi_squared}}</h3> -->
                    <h3>R = {{displayed_R}}</h3>
                    <h3>Lambda = {{lambda}}</h3>
                </div>
            </div>
        
            <div id="sct">
                <figure id="scatter" [style.display]="showScatter? 'block' : 'none'"></figure>
            </div>

        </div>
        
    
        <div id="tbl">
            <table  *ngIf = "showTable">
                <tr>
                    <th *ngFor = "let column of headers">
                       {{column}}       
                    </th>
                </tr>
       
                <tr *ngFor = "let row of table_data">
                    <td  *ngFor = "let column of headers">
                       {{row[column]}}
                    </td>
                </tr>
       
                <button id="table-btn" (click)="finalPlot()">Plot</button>
            </table>
        </div>
        
    


    </div>

   




</body>
