.params{
    padding: 5px;
    border: dashed;
    border-width: 2px;
    border-radius: 5px;
    position: absolute;
    margin-top: 90px;
    margin-left: 620px;
}


#all{
  display: flex;
  align-items: top;

}

#hist-div{
    float: left;  /*If u remove this params dissapear idk*/
    width: 45%;

}

#sc-and-corr{
  display: flex;
  flex-direction: column;
}


#tbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 25%;
    float: right;
    margin-top: 100px;
    text-align: center;
    box-sizing: border-box;

  }

  
#tbl td, #tbl th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#tbl tr:nth-child(even){background-color: #f2f2f2;}
  
#tbl tr:hover {background-color: #ddd;}
  
#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(65, 62, 68);
    color: white;
  }


#table-btn{
  margin-top: 2px;
  width: 100%;
  border: solid #000;
  border-width: 1px;
  border-radius: 5px;
  padding: 0.4em 0.5em;
  font-size:1.1em;
}

#table-btn:hover{
  background-color: rgb(170, 170, 255);
}

#sct{
  margin-left: 0px;
}


/*
@media only screen and (max-width: 1200px) {
 
}*/