

  body{
      position: relative;
    background-color:white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}



#main-header{
    background-color: rgb(31, 31, 31);
    margin-bottom: -10px;
}

#hist-page-title{
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 70px;
}


.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    background: #434343;
	letter-spacing: 0.1px;
	transition: all 0.4s ease 0s;
}

.container{
    margin: auto;
    overflow: hidden;
    position: relative;
}

#navbar{
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}

#navbar ul{
    padding: 0;
    list-style: none;
    margin-left: 73px;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;
}

.btn {
    background-color: rgb(128, 128, 128); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 65%;
    margin-top: 20px;
  }

 #title{
     text-align: center;
     font-size: 40px;
     margin: 30px;
 } 


.cont{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text{
    order:1;
    width: 80%;
    font-size: 17px;
    line-height: 170%;  
    margin-left: 100px; 
}

#pic{
    order: 2;
    margin-right: 70px;
}

#cern-logo{
    position: absolute;
    max-width: 5%;  
    height: auto; 
    margin-top: -70px;
    margin-left: 1160px;
}

#alice-logo{
    position: absolute;
    max-width: 4%;  
    height: auto; 
    margin-top: -70px;
    margin-left: 1300px;
}

#alice-pic{
    max-width: 100%;  
    height: auto; 
  }
#main-footer{
    text-align: center;
    background-color: rgb(236, 236, 236);
    margin-top: 40px;
    padding: 20px;
    margin-bottom: 0px;
}