
<head>
    <link href="/src/app/instructions/instructions.component.css">
</head>
  


<body>

    <header id="main-header">
        <div class="container">
          <h1 id="hist-page-title">
             <a class="link" href="https://home.cern/">
              <span style="color: white;">CERN</span> <span style="color: rgb(146, 146, 146);">  Accelerating Science</span> 
            </a>
          </h1>
        </div>
      </header>
    
      <nav id="navbar">
        <div class="container">
          <ul>
            <li><a href="">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>


    <h1 id="title">Welcome to ALICE Masterclass</h1>

      <img src="assets/alice-logo.png" alt="img" id="alice-logo">
      <img src="assets/CERN_logo.png" alt="img" id="cern-logo">

      <div class="cont">
        <div class="container">

          <div class="text">
              <p>
                The ALICE Collaboration has built a dedicated detector to exploit the unique physics potential of nucleus-nucleus collisions at LHC energies. Our aim is to study the physics of strongly interacting matter at the highest energy densities reached so far in the laboratory. In such condition, an extreme phase of matter - called the quark-gluon plasma - is formed.
              </p>
                <p>
                  Our universe is thought to have been in such a primordial state for the first few millionths of a second after the Big Bang. The properties of such a phase are key issues for Quantum Chromo Dynamics, the understanding of confinement-deconfinement and chiral phase transitions.
                </p>
              <p>
                For this purpose, we are carrying out a comprehensive study of the hadrons, electrons, muons and photons produced in the collisions of heavy nuclei. ALICE is also studying proton-proton and proton-nucleus collisions both as a comparison with nucleus-nucleus collisions and in their own right.
              </p> 
          </div>
  
  
          <a class="btn" routerLink="/femto-large-scale-analysis">Go to the task</a>
      </div>
  
      <div id="pic">
        <img src="assets/alice-picc.png" alt="no image" id="alice-pic">
      </div>


      </div>

   

    <!--
    <footer id="main-footer">
      <p>Copyright &2021; Add Rest of the Footer</p>
    </footer>
-->

</body>

 