<head>
    <link href="/src/app/femto-large-scale-analysis/femto-large-scale-analysis.component.css">
  </head>
  
  <body>

    <header id="main-header">
      <div class="container">
        <h1 id="hist-page-title">
           <a class="link" href="https://home.cern/">
            <span style="color: white;">CERN</span> <span style="color: rgb(146, 146, 146);">  Accelerating Science</span> 
          </a>
        </h1>
      </div>
    </header>
  
    <nav id="navbar">
      <div class="container">
        <ul>
          <li><a href="">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  

    <div id="page">

      <div id="selection-menu">

        <!-- Choice of centrality, call 3 funct. Draw 2 hist, plus tell divided hist which cent was chosen-->
      <h2 class="data-text">Choose Centrality</h2>
      <div id="cent-box">
          <div class="select-dataset">
            <select (change)="histDen.drawDenHist($event)" (change)="histNum.drawNumHist($event)" (change)="divHist.passVal($event)">
                <option disabled selected>Choose Data</option>
                <option value="0">0-5%</option>
                <option value="1">5-10%</option>
                <option value="2">10-20%</option>
                <option value="3">20-30%</option>
                <option value="4">30-40%</option>
                <option value="5">40-50%</option>
                <option value="6">50-60%</option>
            </select>
        </div>
        <button  class="submit" id="div-button" (click) = "divHist.initDisplay()" [disabled] = "divHist.enableDiv == false" >Divide Histograms</button>
      </div>
  
        
      <h2 class="norm-text">Normalize</h2>
      <div id="norm-box">
        <div class="slidecontainer" id="select-range">
            <div id="sl">          
                <ngx-slider id="slider" [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                <button  class="submit" (click) = "divHist.refreshNorm(value, highValue)" [disabled] = "divHist.enableNorm == false" >Submit</button>
                <div class="tooltip">?
                  <span class="tooltiptext">Choose normalization range from the signal</span>
                </div>
          </div>
        </div>
      </div>
  
      <p class="r-text">Choose Coulomb Calculation</p>
  
      <div id="fit-box">
        <div class="select-r">
          <form action="">
            <select (change)="divHist.refreshFit($event)" [disabled] = "divHist.enableR == false">
              <option value="null" disabled selected >Choose R value</option>
              <option value="2">R = 2</option>
              <option value="3">R = 3</option>
              <option value="4">R = 4</option>
              <option value="5">R = 5</option>
              <option value="6">R = 6</option>
              <option value="7">R = 7</option>
              <option value="8">R = 8</option>
              <option value="9">R = 9</option>
              <option value="10">R = 10</option>
            </select>
          </form>  
        </div>
  
  
        <button class="submit" (click) = "divHist.accept()" [disabled] = "divHist.noAccept == true"> Accept </button>
        <div class="tooltip">?
          <span class="tooltiptext">Choose the best R value based on the previous fit</span>
        </div>
      </div>
       
  
    </div>
   
      <div id="column">

          <div id="histograms">
        
            
                  <div id="hist1-box" [style.display]="divHist.showTwo? 'block' : 'none'">
                    <app-histogram #histDen></app-histogram>
                  </div>  
            
                  <div id="hist2-box" [style.display]="divHist.showTwo? 'block' : 'none'">
                    <app-histogram2 #histNum></app-histogram2>
                  </div>
          </div>
          
          <div id = "dh">
            <div class="container">
              <!--Display condtions are in the component!-->
              <app-histogram-divided  id="div-hist" #divHist></app-histogram-divided>
          
            </div>
          </div>

        


      </div>
        
    </div>

 
  </body>

