body{
    background-color:white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
    max-width: 100%;
     /* overflow-x:hidden;*/
    }


#page{
  display: flex;
}

#column{
  display: flex;
  flex-direction: column;
}

#histograms{
  flex: 1;
  order: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#dh{
  order:2;
}

#main-header{
    background-color: rgb(31, 31, 31);
    margin-bottom: -10px;
    width: 100%;

}

#hist-page-title{
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 70px;
}


.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    background: #434343;
	letter-spacing: 0.1px;
	transition: all 0.4s ease 0s;
}

.container{
    margin: auto;
    overflow: hidden;
    position: relative;
}

#navbar{
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    width: 100%;
}

#navbar ul{
    padding: 0;
    list-style: none;
    margin-left: 73px;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;
}


#hist1-box{
    width:40%;
    box-sizing: border-box;
    margin-top: 80px;
    order: 2;
    
}

#hist2-box{
    width:40%;
    box-sizing: border-box;
    margin-top: 80px;
    order: 1;
    margin-right: 20px;
    


}

#div-hist{
    padding: 0 30px;
    box-sizing: border-box;
    display: block;
}



.subtits{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: -50px;
    border: solid #000;
    border-width: 2px;
    padding: 0;

}


/*Here is for the range/data menu*/

  
  /* The slider itself */
  .slider {
    appearance: none;
    background: #c0c0c0; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
.slider:hover {
    opacity: 1; 
  }

  #sl{
   /* border: solid #000;
    border-width: 1px;
    border-radius: 5px;*/
    margin-bottom: 5px;
  }

  #slider{
    margin-bottom: 10px;
  }
  
  #myRange{
    margin-left: 50px;
  }
  
  .range-text{
    margin-left: 65px;
  }
  .inp-text{
    margin-left: 40px;
  }
  
  #inp{
    padding: 5px;
    margin-left: 26px;
  
  }
  
  .submit{
    border: solid #000;
    border-width: 1px;
    border-radius: 5px;
    padding: 0.4em 0.5em;
    margin-bottom: 2px;
    margin-top: 10px;
    width: 80%;
    margin-left: 25px;
    font-size:1.1em;
  }


  .submit:hover{
    background-color: rgb(170, 170, 255);
  }

#selection-menu h2{
    font-size: 20px;
    margin-bottom: -2px;
  
}

#cent-box{
  border: solid #000;
  overflow: hidden;
  border-width: 2px;
  border-radius: 15px;
  padding: 20px 10px;
  margin-bottom: 17px;
}

#norm-box{
  border: solid #000;
  overflow: hidden;
  border-width: 2px;
  border-radius: 15px;
  padding: 20px 10px;
  margin-bottom: 17px;
}

#fit-box{
  border: solid #000;
  overflow: hidden;
  border-width: 2px;
  border-radius: 15px;
  padding: 20px 10px;
  margin-bottom: 17px;
}


#selection-menu{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 25px;
    min-width: 17%;
    margin-top: 3px;
    margin-left: 5px;
    
}



select{
  font-size: 1.5rem;
  padding: 0.2em 10%;
  background: rgb(245, 245, 245);
  color: #000;
}

.select-r{
  margin-top:  5px;
  width: 80%;
}

.r-text{
  margin-left: 4px;
  padding-bottom: 0px;
  font-weight:bold;
  font-size:130%;
}

.data-text{
  margin-left: 21%;
  margin-right: 15%;
  width: 70%;
  padding-bottom: 0px;
}
.norm-text{
  margin-left: 33%;
  margin-right: 20%;
  width: 60%;
  padding-bottom: 0px;
}

.select-dataset{
  margin-bottom:  10px;
  margin-left: 12px;

  
}

.select-r :hover{
  background-color: rgb(234, 234, 255);
}
.select-dataset :hover{
  background-color: rgb(232, 232, 255);
}

/*
#div-button{
  margin-left: 50px;

}*/





/*  HELP BUBBLE  */

/* Tooltip container */
.tooltip {
  display: inline-block;
  border: 1px  black; /* If you want dots under the hoverable text */
  background-color: rgb(167, 167, 167);
  border-radius: 2px;
  padding: 0px 4px;
  margin-left: 1px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* FOr overflow hidden 
@media only screen and (max-width: 1475px) {
  #histograms{
    flex-direction: column;
  }
}*/
@media only screen and (max-width: 1200px) {
  #histograms{
    flex-direction: column;
  }
}


/*
@media(min-width: 100%){
    #hist1-box{
      float: none;
    }
    #hist2-box{
      float: none;
    }
    #div-hist{
      float: none;
    }
    #selection-menu{
      float: none;
    }
}*/